---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;

// 当你在一个 .md 文件中包含 layout frontmatter 属性时，你可以在布局文件中使用所有 frontmatter YAML 的值。
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toLocaleDateString()}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>作者：{frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="flex items-center space-x-2 my-8">
    {
      frontmatter.tags.map((tag: string) => (
        <div class="rounded py-0.5 px-2 text-l bg-sky-400">
          <a href={`/tags/${tag}`}>{tag}</a>
        </div>
      ))
    }
  </div>

  <slot />
</BaseLayout>
